<!-- -->

{% extends 'layout.html' %} <!-- Interhited from layout.html -->


{% block sc %}

<center>


  <!-- Banner -->
    <div class="w3-row-padding w3-padding-16 w3-center" style="margin:5px">
      <div class="w3-container w3-center w3-opacity" style="padding:50px">
          <h class="w3-margin w3-xlarge" id="banner" >We created
                                        a website to access essential item prices during Covid-19 using Beautiful Soup web scraper!</h>
          </div>
          <!-- Note: we can add this if we want, but ill keep the about us page simple"-->
          <!--<h class="w3-margin w3-large"> The goal of our project is to have a portable, accessible, and simple website that can be accessed by anyone with
               browser. This website is scraped using python's beautiful soup and helps tackle a common COVID-19 problem:
               Is there essential supplies at this store and/or location. </h>
           <h>With our website, we scraped the essential information for TP, soap, and hand sanitizer. We display the price of the
               item very easily on the site. This allows for transparency and helps people that cannot access these stores (in our case Sam's Club) find
               prices to essential items very quickly.</h>
      </div>
        -->


<!-- Austin photo -->
      <div class="w3-quarter">
        <img src="/static/austin.png" alt="Austin" style="width:90%">
        <h3>Austin Wong-Parker</h3>
        <p>Senior at University of Minnesota - thinks mangos are the superior fruit</p>
      </div>
  <!-- Jess Photo -->
      <div class="w3-quarter">
        <img src="/static/jessica.jpeg" alt="Jessica" style="width:90%">
        <h3>Jessica Petersen</h3>
        <p>Senior at St. Olaf College</p>
      </div>
    <!-- Chris Photo -->
      <div class="w3-quarter">
        <img src="/static/chris.jpg" alt="Chris" style="width:90%">
        <h3>Chris Chunh</h3>
        <p>UMN Sophomore</p>
      </div>
      <!-- Nadya Photo -->
      <div class="w3-quarter">
        <img src="/static/nadya.jpg" alt="Nadya" style="width:90%">
        <h3>Nadya Postolaki</h3>
        <p>Junior at University of Minnesota - Is really good at Minecraft parkour</p>
      </div>
    <!-- Mitchell Photo -->
      <div class="w3-quarter">
        <img src="/static/mitchell.jpg" alt="Mitchell" style="width:90%">
        <h3>Mitchell Ford</h3>
        <p>Owns a modded minecraft server</p>
      </div>


    </div>

</center>
{% endblock %}
