<!-- -->

{% extends 'layout.html' %} <!-- Interhited from layout.html -->


{% block sc %}
<center>

  <!-- Header -->
<header class="w3-panel w3-center" style="padding:8px 16px">
  <h1 class="w3-xlarge w3-opacity">Meet our Team!!</h1>
  
  <div class="w3-padding-32 w3-opacity">
    <p>We are a team of college developers who joined together from different universities to create a helpful project during the COVID-19 pandemic. We created this project as a part of the hackathon ran by <a href="https://minorityprogrammers.org/covid.html">MPA: Minority Programmers Association. </a>With supplies running low in stores during the pandemic, our vision with this website was to be able to display commonly needed items such as toilet paper, soap, and hand sanitizer more easily. This would allow people to quickly search different stores and find the items that everyone is looking for during these times. Our current website is web scraping data with beautiful soup for python and our webpage is running on flask. We currently have our scraper working successfully for Sam’s Club. Check out our github <a href="https://github.com/AustinWongParker/Hackathon_WebScraper">here!</a></p>
    <p>Thank you for checking out our page, please stay safe and healthy!</p>
  </div>
  </header>
  

  <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center" id="food">
      <div class="w3-quarter">
        <img src="/static/austin.png" alt="Austin" style="width:100%">
        <h3>Austin Wong-Parker</h3>
        <p>Senior at University of Minnesota - thinks mangos are the superior fruit.</p>
      </div>
      <div class="w3-quarter">
        <img src="/static/jessica.jpeg" alt="Jessica" style="width:100%">
        <h3>Jessica Petersen</h3>
        <p>Senior at St. Olaf College</p>
      </div>
      <div class="w3-quarter">
        <img src="/w3images/cherries.jpg" alt="Cherries" style="width:100%">
        <h3>Cherries, interrupted</h3>
        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        <p>What else?</p>
      </div>
      <div class="w3-quarter">
        <img src="/w3images/wine.jpg" alt="Pasta and Wine" style="width:100%">
        <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
        <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      </div>
    </div>

</center>
{% endblock %}
