<table>
	<tr>
		<th>Product</th>
		<th>Price</th>
		<th>Image</th>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/noah-table-lamp-ls-noah-wl-bk/prod22190650?xid=plp_product_1_1">Noah Mid-Century Modern Table Lamp (Assorted Colors)</a></td>
		<td>$49.88</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0068114412183_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/noah-floor-lamp-ls-noahfl-wl-bk/prod22190653?xid=plp_product_1_2">Noah Mid-Century Modern Floor Lamp with Walnut Wood Frame and Marble Base</a></td>
		<td>$214.88</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0068114412184_A?wid=280&hei=280"></td>
	</tr>
</table>