<head>
	<style>
		th { font-size: x-large; padding-right: 115px}
	</style>
</head>
<table>
	<tr>
		<th>Product</th>
		<th>Price</th>
		<th>Image</th>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencil-ticonderoga-2yl/prod13620503?xid=plp_product_1_1">Ticonderoga Woodcase Pencil, HB #2, Yellow Barrel, 96ct.</a></td>
		<td>$10.28</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007206713872_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/bic-matic-grip-mechanical-pencil-32-pack/131129?xid=plp_product_1_2">BIC Matic Grip Mechanical Pencil, HB #2, 0.7mm - 32 Pencils</a></td>
		<td>$9.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007033042921_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencil-tic-2-presha/prod9570228?xid=plp_product_1_3">Ticonderoga Pre-Sharpened Pencil, HB #2, Yellow Barrel, 30ct.</a></td>
		<td>$6.78</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007206713830_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/bic-mechanicalpencil-0-9mm-mech-pencil/prod20202869?xid=plp_product_1_4">BIC Xtra-Strong Mechanical Pencil, 0.9mm, Assorted Colors, 24ct.</a></td>
		<td>$5.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007033041714_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/sharpener-elec-penc/prod10530051?xid=plp_product_1_5">Stanley Bostitch Compact Desktop Electric Pencil Sharpener - Blue</a></td>
		<td>$14.88</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007791404548_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/clearpoint-mechan-8pc-pencils/prod22010425?xid=plp_product_1_6">PaperMate ClearPoint Mechanical Pencil, 8 Pack   </a></td>
		<td>$9.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0004154000681_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/universal-pre-sharpened-woodcase-pencil-72pk/prod22422743?xid=plp_product_1_7">Universal #2 Pre-Sharpened Woodcase Pencil, HB #2, Yellow Barrel, 72/Pack</a></td>
		<td>$6.78</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0008754755402_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencil-12-ea-bx/prod12430108?xid=plp_product_1_8">Paper Mate - Sharpwriter Mechanical Pencil, HB, 0.7 mm, Yellow Barrel - 12 Per Box</a></td>
		<td>$4.06</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0004154030301_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/twst-clrpencil-ast30-twistables-colored/prod19260226?xid=plp_product_1_9">Crayola Twistables Colored Pencils, 30 Assorted Colors/Pack</a></td>
		<td>$10.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007166287409_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/paper-mate-mirado-black-warrior-woodcase-pencil-hb-2-black-matte-barrel-12-pack/141977?xid=plp_product_1_10">Paper Mate Mirado Black Warrior Woodcase Pencil, HB #2, Black Barrel, 12ct.</a></td>
		<td>$2.78</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007073502254_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/bic-mechanical-pencils-with-colorful-barrels/prod1341137?xid=plp_product_1_11">BIC Xtra-Precision Mechanical Pencil, 0.5mm, Assorted Color Barrels (24 pk.)</a></td>
		<td>$6.78</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007033041755_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pen-mech-pencil-blue-7mm-24-pack/prod19970172?xid=plp_product_1_12">Pentel Icy Mechanical Pencil, 0.7 mm, Transparent Blue Barrel, 24 ct.</a></td>
		<td>$16.54</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007251224108_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/bostitch-compact-desktop-electric-pencil-sharpener/189010?xid=plp_product_1_13">Stanley Bostitch - Compact Desktop Electric Pencil Sharpener - Black</a></td>
		<td>$14.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007791404547_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/hunt-model-ks-pencil-sharpener/136898?xid=plp_product_1_14">X-ACTO - Manual Pencil Sharpener, Table- or Wall-Mount - Black/Chrome</a></td>
		<td>$13.18</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007994601031_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/sanford-col-erase-pencils-various-set-sizes/142104?xid=plp_product_1_15">Prismacolor Col-Erase Colored Woodcase Pencils with Eraser - 24 Pencils</a></td>
		<td>$13.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007053020517_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/dixon-prang-colored-pencils/142088?xid=plp_product_1_16">Prang Colored Wood Pencil Set, 3.3 mm, Assorted Colors - 12 Pencils</a></td>
		<td>$3.48</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007206722120_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/sanford-col-erase-pencils/prod9130019?xid=plp_product_1_17">Prismacolor Col-Erase Pencil with Eraser, Carmine Red - 12 Pencils</a></td>
		<td>$7.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007053020045_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/crayola-multicultural-eight-color-pencil-pack/171468?xid=plp_product_1_18">Crayola Multicultural Colored Woodcase Pencils, 3.3 mm, 8 Assorted Colors/Set</a></td>
		<td>$2.38</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007166200251_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/crayola-240-classpack-colored-pencils/144161?xid=plp_product_1_19">Crayola Colored Woodcase Pencil Classpack, 3.3mm, 20 EA of 12 Ast Colors + 12 Sharpeners</a></td>
		<td>$34.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007166208024_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pentel-twist-erase-iii-mechanical-pencil-0-70-mm-black-barrel/189807?xid=plp_product_1_20">Pentel - Twist-Erase III Mechanical Pencil, 0.7 mm - Black Barrel</a></td>
		<td>$4.08</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007251209962_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/bic-mech-pencil-24-xtra-sparkle-7mm/prod19430258?xid=plp_product_1_21">BIC Xtra-Sparkle Mechanical Pencil, 0.7mm, Assorted Color Barrels, 24pk.</a></td>
		<td>$6.68</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007033040696_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/sanford-col-erase-pencils/137190?xid=plp_product_1_22">Prismacolor Col-Erase Pencil with Eraser, Blue - 12 Pencils</a></td>
		<td>$7.48</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007053020044_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencil-verithin-silver/prod13770441?xid=plp_product_1_23">Prismacolor - Verithin Colored Pencils, Metallic Silver -  Dozen</a></td>
		<td>$12.48</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007073502460_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencil-mech-velocity-9m/prod13770438?xid=plp_product_1_24">BIC Velocity Original Mechanical Pencil, .9mm, Turquoise, 12pk.</a></td>
		<td>$9.28</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007033040827_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencil-champ-0-7mm-24-be/prod13770445?xid=plp_product_1_25">Pentel Champ 0.7 mm, Mechanical Pencil, Blue Barrel (24 ct.)</a></td>
		<td>$10.78</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007251223749_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pen-mech-pencil-smke-5mm-24-pack/prod19970232?xid=plp_product_1_26">Pentel Icy Mechanical Pencil, 0.5 mm, Transparent Smoke Barrel, 24 ct.</a></td>
		<td>$16.28</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007251224105_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencil-sharp-0-9mm-2pk/prod13620619?xid=plp_product_1_27">Pentel - Sharp Automatic Pencil, 0.9 mm, Yellow Barrel -  2/Pack</a></td>
		<td>$5.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007251208048_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencil-sharp-0-7mm-2pk-be/prod13620618?xid=plp_product_1_28">Pentel - Sharp Mechanical Drafting Pencil, 0.7 mm, Blue Barrel -  2/Pk</a></td>
		<td>$6.50</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007251204496_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pentel-twist-erase-iii-mechanical-pencil-0-90-mm-black-barrel/189808?xid=plp_product_1_29">Pentel - Twist-Erase III Mechanical Pencil, 0.9 mm - Black Barrel</a></td>
		<td>$4.28</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007251209968_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/apple-pencil-2nd-generation/prod22693101?xid=plp_product_1_30">Apple Pencil (2nd Generation) for iPad Pro 11 and Pro 12.9 (3rd gen)</a></td>
		<td>$124.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0019019889327_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/bx-12-bx/prod12430120?xid=plp_product_1_31">Dixon Ticonderoga Beginners Wood Pencil with Eraser, HB #2, Yellow Barrel, 12pk.</a></td>
		<td>$5.96</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007206713308_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/unv-pencil-woodcase-pencil/prod22012527?xid=plp_product_1_32">Universal Woodcase Pencil, HB #2, Yellow Barrel, 144/Pack</a></td>
		<td>$12.48</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0008754755144_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/cross-classic-century-ballpoint-pen-pencil-set/137320?xid=plp_product_1_33">Cross - Classic Century Ballpoint Pen & Pencil Set - Black/23 Kt. Gold Accents</a></td>
		<td>$69.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007322800003_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/cross-classic-century-ballpoint-pen-pencil-set/137317?xid=plp_product_1_34">Cross - Classic Century Ballpoint Pen & Pencil Set - Chrome/Black Accent</a></td>
		<td>$59.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007322800001_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/unv-golf-pew-pencil-golf-pew-pencil/prod20202908?xid=plp_product_1_35">Universal Golf & Pew Pencil, HB, Yellow Barrel, 144ct.</a></td>
		<td>$7.88</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0008754724264_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencils-economy-no-2/prod13770434?xid=plp_product_1_36">Dixon Woodcase Pencil, HB #2 Lead, Yellow Barrel, 144ct.</a></td>
		<td>$10.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007206714412_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/pencil-cedar-2-bk/prod13770450?xid=plp_product_1_37">Ticonderoga Woodcase Pencil, HB #2, Black Barrel, 12 ct.</a></td>
		<td>$3.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007206713953_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/westcott-ipoint-aura-ti-non-stick-electric-pencil-sharpener-/prod23210993?xid=plp_product_1_38">Westcott Ipoint Aura Ti Non-Stick Electric Pencil Sharpener, Choose a Color</a></td>
		<td>$16.86</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0040980210307_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/sharpener-elec-pwr/prod9570479?xid=plp_product_1_39">X-ACTO - PowerHouse Desktop Electric Pencil Sharpener - Black</a></td>
		<td>$26.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0040611483769_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/bostitch-antimicrobial-manual-pencil-sharpener/133494?xid=plp_product_1_40">Stanley Bostitch - Table-Mount/Wall-Mount Antimicrobial Manual Pencil Sharpener - Black</a></td>
		<td>$11.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007791404003_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/x-acto-schoolpro-1670-electric-pencil-sharpener-blue/182743?xid=plp_product_1_41">X-ACTO School Pro Classroom Electric Pencil Sharpener, Blue/Gray</a></td>
		<td>$34.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007994601670_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/heavy-duty-sharpener/133491?xid=plp_product_1_42">Stanley Bostitch - Quiet Sharp 6 Commercial Desktop Electric Pencil Sharpener - Blue</a></td>
		<td>$34.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007791404110_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/sharpener-pencil-el/prod9570483?xid=plp_product_1_43">X-ACTO - Model 1900 Desktop Electric Pencil Sharpener - Silver/Black</a></td>
		<td>$17.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0040611484089_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/artskills-colored-pencils-sets-100ct/prod23151372?xid=plp_product_1_44">ArtSkills Colored Pencils Sets, 100 Count</a></td>
		<td>Unavailable</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0067212506635_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/prismacolor-36-colored-pencils/prod20072352?xid=plp_product_1_45">Prismacolor Premier Soft Core Colored Pencils, Assorted Colors, 36ct.</a></td>
		<td>$17.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007073592885_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/m301mechanicalpencil-9-pk/prod15200115?xid=plp_product_1_46">Zebra Pen Mechanical Pencils M301, 9 Pack</a></td>
		<td>$9.98</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0004588812118_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/apple-pencil-ipad-pencil/prod19690445?xid=plp_product_1_47">Apple Pencil (1st Generation) for iPad (6th and 7th gen) and iPad Air (3rd gen)</a></td>
		<td>$94.88</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0088846231367_A?wid=280&hei=280"></td>
	</tr>
	<tr>
		<td><a href="http://www.samsclub.com/p/ipoint-sharpener-br-black-cherry/prod20933146?xid=plp_product_1_48">Bonded Titanium Non Stick iPoint Orbit Electric Pencil Sharpener, Select Color</a></td>
		<td>$16.48</td>
		<td><img src="https://scene7.samsclub.com/is/image/samsclub/0007357716765_A?wid=280&hei=280"></td>
	</tr>
</table>