<!-- -->

{% extends 'layout.html' %} <!-- inherited from layout.html -->


{% block wal %}

<!-- Header -->
<header class="w3-panel w3-center" style="padding:8px 16px">

<!-- Sam's Club Logo and TP / SOAP / HS -->
<img src="/static/Walmart-Logo-PNG-Transparent.png" alt="Walmart Logo" style="width:617px;height:174px; padding-top:25px;"></img>
<h1 class="w3-xlarge w3-opacity">Walmart</h1>

<div class="w3-padding-32 w3-opacity">
  <div class="w3-bar w3-border">
    <a href="wal_tp" class="w3-bar-item w3-button">Toilet Paper</a>
    <a href="wal_soap" class="w3-bar-item w3-button w3-light-grey">Soap</a>
    <a href="wal_handsanitizer" class="w3-bar-item w3-button">Hand Sanitizer</a>
  </div>
</div>
</header>

{% endblock %}

{% block body %}
{% endblock %}
